body, ul, li, p, h1, h2, h3, h4, h5, h6, dl, dt, dd, nav {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  color: #333;
}
img {
  vertical-align: top;
}
a {
  color: #613a43;
  text-decoration: none;
}
a:visited {
  color: #613a43;
  text-decoration: none;
}
h1, h2 {
  text-align: center;
}
h1 {
  margin: 50px 0;
}
h2 {
  margin: 100px 0 40px;
}
.red {
  color: #ff3838;
}
.bold {
  font-weight: bold;
}
.app_description {
  display: inline-flex;
  align-items: center;
  background: #efefef;
  border-radius: 30px;
  margin: 20px;
  padding: 30px;
  width: auto;
}
.app_description p {
  margin: 0 20px;
}
.text {
  width: 70%;
}
.category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 0 50px;
}
.category li {
  margin: 10px;
}
.category li:hover {
  opacity: 0.8;
}
.sp {
  display: none;
}
.slider {
  width: 90%;
  margin: 0 auto;
}
.slider img {
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .sp {
    display: block;
  }
  .pc {
    display: none;
  }
  h1 img {
    width: 90%;
  }
  h2 {
    margin: 80px 0 40px;
  }
  h2 img {
    width: 90%;
  }
  .text {
    width: auto;
  }
  .app_description {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px auto;
    padding: 25px;
  }
  .app_description p {
    margin: 30px 0;
  }
  .app_description img {
    width: auto;
  }
  .category {
    text-align: center;
  }
  .category img {
    width: 90%;
  }
}